/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #02071f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(65, 167, 95);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 13.5em; /* Adjust the width based on your needs */
}

.circle {
  width: 1em;
  height: 1em;
  background-color: #3498db;
  border-radius: 50%;
  margin: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle.hidden {
  background-color: #2ecc701e;
}
